<!-- templates/auth/login.html -->

{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-white mb-4">Login</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card card-body">
                        <h3 class="text-center mb-4">Login</h3>
                        {% with flashed_messages = get_flashed_messages() %}
                        {% if flashed_messages %}
                        <div class="alert alert-danger">
                            {{ flashed_messages[0] }}
                        </div>
                        {% endif %}
                        {% endwith %}
                        <form method="POST" action="/login">
                            <fieldset>
                                <div class="form-group has-error">
                                    <input class="form-control input-lg" placeholder="E-mail" name="email" type="text">
                                </div>
                                <div class="form-group has-success">
                                    <input class="form-control input-lg" placeholder="Password" name="password" value=""
                                           type="password">
                                </div>
                                <div class="field">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        Remember me
                                    </label>
                                </div>
                                <input class="btn btn-lg btn-primary btn-block" value="Login" type="submit">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}