<!-- templates/auth/signup.html -->

{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-white mb-4">Register</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card card-body">
                        <h3 class="text-center mb-4">Register</h3>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-danger">
                            {{ messages[0] }}. Go to <a href="{{ url_for('auth.login_get') }}">login page</a>.
                        </div>
                        {% endif %}
                        {% endwith %}
                         <form method="POST" action="/register">
                        <fieldset>
                            <div class="form-group has-error">
                                <input class="form-control input-lg" placeholder="E-mail" name="email" type="text">
                            </div>
                            <div class="form-group has-error">
                                <input class="form-control input-lg" placeholder="Username" name="username" type="text">
                            </div>
                            <div class="form-group has-success">
                                <input class="form-control input-lg" placeholder="Password" name="password" value=""
                                       type="password">
                            </div>
                            <input class="btn btn-lg btn-primary btn-block" value="Register" type="submit">
                        </fieldset>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}