<!-- templates/auth/login.html -->

{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1 class="text-center">
        Some feed
    </h1>
    <div class="col">
        <ul class="list-inline mx-auto justify-content-center">

            {% for post in context['posts'] %}
            <li class="list-group-item">
                <div class="card">
                    <div class="card-header">
                        {{ post.title }}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ post.content }}</p>
                            <footer class="blockquote-footer">{{ post.author }}</footer>
                        </blockquote>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}