{% extends "base.html" %}

{% block content %}
<div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh">
    <div class="col text-center">
        <h1> MTS test Task</h1>
        <p class="lead">Easy app with RESTful CRUD implementation and auth</p>
    </div>
</div>
{% endblock %}