<!-- templates/auth/profile.html -->

{% extends "base.html" %}

{% block content %}
<div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh">
    <div class="col text-center">
        <h1>Welcome, {{ context["name"]}}! </h1>
        <h2>Your token for api - {{ context["token"]}}</h2>
        <h3>You can track changes in feed tab</h3>
    </div>
</div>
{% endblock %}